/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}
.nav-links {
  width: 15%;
  display: flex;
  justify-content: space-evenly;
}
a {
  text-decoration: none;
  color: #b21807;
  font-size: 16px;
  padding: 2%;
}

label {
  padding: .25%;
}

button {
  width: 15%;
  margin: 2%;
}

.toppings {
  display: flex;
  flex-direction: column;
}

#pizza-form {
  border: 1px solid black;
  margin: 5px 40px 5px 40px;
}

.item-container {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #b21807;
}